# GCP
GCP_PROJECT_ID=
GCP_LOCATION=

# BigQuery
BQ_DATASET=

# Source datasets 
GNFR_PROJECT=gcp-wow-risk-de-lab-dev
GNFR_DATASET=gnfr_published_data_sets
MASTERDATA_PROJECT=gcp-wow-ent-im-tbl-prod
MASTERDATA_DATASET=adp_dm_masterdata_view
FIN_DATA_DATASET=gs_allgrp_fin_data
PURCHASING_DATASET=adp_dm_purchasing_view

# Gemini
GEMINI_MODEL=gemini-2.5-flash

# Cloud Storage
GCS_BUCKET=

# Cloud Run
CLOUD_RUN_URL=